h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto";
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 738px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

.header {
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #ececec;
}
@media screen and (min-width: 768px) {
  .header {
    max-width: 768px;
    padding-top: 21px;
    padding-bottom: 21px;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    max-width: 1200px;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
.header__position {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .header__position {
    max-width: 738px;
  }
}
@media screen and (min-width: 1200px) {
  .header__position {
    max-width: 1170px;
  }
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.03em;
  color: #2196F3;
  width: 134px;
}
@media screen and (min-width: 768px) {
  .logo {
    font-size: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    width: 145px;
  }
}
.logo--black {
  color: #000;
}

.btn-modal-label, .btn-modal {
  display: none;
}

@media screen and (max-width: 767px) {
  .nav .btn-modal:checked ~ .btn-modal-label .btn-modal-line {
    transform: rotate(-45deg);
  }
  .nav .btn-modal:checked ~ .btn-modal-label .btn-modal-line::before {
    top: 0;
  }
  .nav .btn-modal:checked ~ .btn-modal-label .btn-modal-line::after {
    transform: rotate(90deg);
    top: 0;
  }
  .nav .btn-modal-label {
    display: block;
    width: 24px;
    height: 16px;
    margin-left: auto;
    position: relative;
  }
  .nav .btn-modal-label .btn-modal-line,
  .nav .btn-modal-label .btn-modal-line::before,
  .nav .btn-modal-label .btn-modal-line::after {
    content: "";
    display: block;
    width: 24px;
    height: 2px;
    background-color: black;
    position: absolute;
    right: 0;
  }
  .nav .btn-modal-label .btn-modal-line {
    top: 4px;
  }
  .nav .btn-modal-label .btn-modal-line::before {
    top: -6px;
  }
  .nav .btn-modal-label .btn-modal-line::after {
    top: 6px;
  }
}

@media screen and (min-width: 768px) {
  .nav {
    margin-left: 87px;
    margin-right: 96px;
  }
}
@media screen and (min-width: 1200px) {
  .nav {
    margin-left: 92px;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .btn-modal-label, .btn-modal {
    display: none;
  }
}
.nav__menu {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav__menu {
    display: flex;
    -moz-column-gap: 50px;
         column-gap: 50px;
  }
}

@media screen and (min-width: 768px) {
  .nav__link {
    color: #212121;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
  }
  .nav__link:hover, .nav__link--active {
    color: #2196F3;
  }
  .nav__link::after {
    content: "";
    position: absolute;
    margin-top: 28px;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav__link:hover::after, .nav__link--active::after {
    background-color: #2196F3;
  }
}
.contacts {
  display: none;
}
@media screen and (min-width: 768px) {
  .contacts {
    display: block;
    margin-left: auto;
  }
  .contacts__item:nth-child(1) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .contacts__item:nth-child(1) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .contacts__link {
    display: flex;
    align-items: center;
    color: #757575;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.02em;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .contacts__link {
    font-size: 14px;
  }
}
@media screen and (min-width: 768px) {
  .contacts__link:hover {
    color: #2196F3;
  }
  .contacts__link:hover .contacts__icon {
    fill: #2196F3;
  }
  .contacts__icon {
    fill: #757575;
    margin-right: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
.contacts__button {
  background-color: white;
  border: none;
}
@media screen and (min-width: 768px) {
  .contacts__button {
    display: none;
  }
}

.container {
  min-width: 320px;
  max-width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.page-header .container {
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.menu {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

@media (max-width: 767px) {
  .menu {
    display: none;
  }
}
.menu .link {
  padding: 10px;
  color: inherit;
  text-decoration: none;
}

.menu .link:hover,
.menu .link:focus {
  text-decoration: underline;
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: #3f51b5;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-menu .link {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}

.hero {
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  background: #2F303A;
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../imagess/mobile/header_bg.jpg");
  background-repeat: no-repeat;
  background-size: 480px 400px;
}
@media (min-device-pixel-ratio: 2x), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../imagess/mobile/header_bg@mobile2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../imagess/tablet/header_bg.jpg");
    background-size: 768px 400px;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2x), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../imagess/tablet/header_bg@tablet2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../imagess/desktop/header_bg.jpg");
    background-size: 1600px 600px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2x), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../imagess/desktop/header_bg@desktop2x.jpg");
  }
}
.hero__position {
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  justify-content: center;
}
.hero__title-container {
  width: 100%;
}
.hero__title {
  width: 360px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 26px;
  line-height: 162%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    width: 696px;
    font-size: 44px;
    line-height: 136%;
  }
}
.hero__button {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #2196F3;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .hero__button {
    width: 216px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  border-radius: 4px;
  width: 450px;
  height: 609px;
  height: 639px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.svg-close {
  fill: #000;
}

.btn-close:hover .svg-close {
  fill: #2196F3;
}

.btn-close:hover {
  cursor: pointer;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-bottom: 12px;
  line-height: 150%;
}
@media screen and (min-width: 1200px) {
  .modal-title {
    line-height: 100%;
  }
}

.label {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: #757575;
  width: 60px;
}

.input {
  display: flex;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 370px;
  height: 40px;
  padding-left: 42px;
  outline: none;
  margin-top: 4px;
  margin-bottom: 10px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .input {
    width: 448px;
  }
}

.input-text-input {
  margin-top: 4px;
}

.input:hover,
.input:focus {
  border-color: #2196F3;
}

.modal_svg {
  position: absolute;
  top: 14px;
  left: 15px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus + .modal_svg,
.input:hover + .modal_svg {
  fill: #2196F3;
}

.input-container {
  position: relative;
}

.input-text-area {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 370px;
  height: 120px;
  resize: none;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .input-text-area {
    width: 448px;
  }
}

.input-text-area::-moz-placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  padding-top: 12px;
  padding-left: 16px;
}

.input-text-area::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  padding-top: 12px;
  padding-left: 16px;
}

.checkbox-label {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox {
  border: 2px solid #212121;
  width: 16px;
  height: 15px;
  margin-right: 8px;
}

.agreement {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: #757575;
}
@media screen and (min-width: 1200px) {
  .agreement {
    font-size: 14px;
  }
}

.agreement-link {
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #2196F3;
  font-size: 12px;
}
@media screen and (min-width: 1200px) {
  .agreement-link {
    font-size: 14px;
  }
}

.form-button {
  border-radius: 4px;
  width: 200px;
  height: 50px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #2196F3;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.06em;
  text-align: center;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  margin-left: 85px;
}
@media screen and (min-width: 1200px) {
  .form-button {
    margin-left: 127px;
  }
}

.speciality {
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .speciality {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .speciality {
    max-width: 1200px;
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.speciality__title {
  display: none;
}
@media screen and (min-width: 768px) {
  .speciality__list {
    display: flex;
    -moz-column-gap: 30px;
         column-gap: 30px;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px) {
  .speciality__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .speciality__item {
    flex-basis: calc((100% - 90px) / 4);
  }
}
.speciality__item::before {
  content: "";
  display: block;
  background-repeat: no-repeat;
  max-width: 450px;
  height: 120px;
  background-image: url("../images/rectangle.png");
  background-color: #f5f4fa;
  border-radius: 4px;
  background-position: center;
  margin-bottom: 30px;
}
.speciality__item:nth-child(1)::before {
  background-image: url("../images/antenna.png");
}
.speciality__item:nth-child(2)::before {
  background-image: url("../images/clock.png");
}
.speciality__item:nth-child(3)::before {
  background-image: url("../images/diagram.png");
}
.speciality__item:nth-child(4)::before {
  background-image: url("../images/astronaut.png");
}
.speciality__item-title {
  display: flex;
  width: 100%;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .speciality__item-title {
    justify-content: start;
  }
}
.speciality__text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  color: #757575;
}

.action {
  display: none;
}
@media screen and (min-width: 1200px) {
  .action {
    display: block;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 94px;
  }
  .action__position {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 50px;
  }
  .action__title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #212121;
    display: flex;
  }
  .action__list {
    position: relative;
    display: flex;
    -moz-column-gap: 30px;
         column-gap: 30px;
    list-style: none;
  }
  .action .inscription {
    position: absolute;
    bottom: 0;
    width: 360px;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
    padding-top: 27px;
    padding-bottom: 27px;
  }
}

.team {
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url("../images/teambg.png");
}
@media screen and (min-width: 768px) {
  .team {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .team {
    max-width: 1200px;
  }
}
.team__position {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #757575;
  padding-bottom: 16px;
  letter-spacing: 0.03em;
  display: flex;
  justify-content: center;
  row-gap: 50px;
  flex-wrap: wrap;
}
.team__title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 28px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}
@media screen and (min-width: 1200px) {
  .team__title {
    font-size: 36px;
  }
}
.team__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 30px;
}
@media screen and (min-width: 768px) {
  .team__list {
    gap: 30px;
  }
}
.team__item {
  background-image: url("../images/teamcardbg.jpg");
  width: 450px;
  height: 622px;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  background: #FFFFFF;
  border-radius: 0 0 4px 4px;
}
@media screen and (min-width: 768px) {
  .team__item {
    height: 536px;
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: 270px;
    height: 428px;
    flex-basis: calc((100% - 90px) / 4);
  }
}
.team__image {
  width: 100%;
}
.team__name {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #212121;
  letter-spacing: 0.03em;
  padding-top: 30px;
  padding-bottom: 10px;
}
.team__media-list {
  display: flex;
  justify-content: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  margin-bottom: 30px;
}
.team__media-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team__media-box:hover {
  background-color: #2196F3;
  cursor: pointer;
}
.team__media-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team__media-box:hover .team__media-icon {
  fill: #FFFFFF;
}

.regular__clients {
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .regular__clients {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .regular__clients {
    max-width: 1200px;
  }
}

.clients__title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 28px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .clients__title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}
.clients__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;
}
.clients__item {
  height: 92px;
  flex-basis: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .clients__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    flex-wrap: nowrap;
    flex-basis: calc((100% - 150px) / 6);
  }
}
.clients__box {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 100%;
  height: 92px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__box:hover {
  border: 1px solid #2196F3;
  cursor: pointer;
}
.clients__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__box:hover .clients__icon {
  fill: #2196F3;
}

.footer {
  max-width: 100%;
  background: #2F303A;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 60px;
  height: 600px;
}
@media screen and (min-width: 768px) {
  .footer {
    max-width: 768px;
    height: 463px;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    max-width: 1600px;
    height: 252px;
  }
}
.footer__position {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .footer__position {
    flex-direction: row;
    -moz-column-gap: 165px;
         column-gap: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__position {
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: start;
    justify-content: start;
    -moz-column-gap: 0;
         column-gap: 0;
    max-width: 1170px;
  }
}
.footer__address {
  width: 231px;
  margin-bottom: 60px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer__address {
    margin-bottom: 0;
    text-align: start;
  }
}
.footer__logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #2196F3;
}
@media screen and (min-width: 1200px) {
  .footer__logo {
    font-size: 26px;
  }
}
.footer__logo--black {
  color: #FFFFFF;
}
.footer__contacts {
  font-style: normal;
  margin-top: 20px;
}
.footer__text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  width: 231px;
}
.footer__list {
  list-style: none;
}
.footer__link {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer__media {
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer__media {
    margin-bottom: 99px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__media {
    margin-bottom: 0;
    margin-left: 70px;
    margin-top: 12px;
  }
}
.footer__media-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer__media-title {
    text-align: start;
  }
}
.footer__media-list {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.footer__media-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__media-box:hover {
  background-color: #2196F3;
  cursor: pointer;
}
.footer__icon {
  fill: #FFFFFF;
}
.footer__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .footer__form {
    display: block;
    flex-direction: row;
    align-items: start;
    margin-left: 93px;
    margin-top: 12px;
  }
}
.footer__form-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer__form-title {
    text-align: start;
  }
}
.footer__input-box {
  display: flex;
  position: relative;
}
@media screen and (min-width: 1200px) {
  .footer__input-box {
    position: static;
  }
}
.footer__input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  width: 358px;
  height: 50px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: rgba(33, 150, 243, 0);
  display: block;
}
.footer__input::-moz-placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 16px;
}
.footer__input::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 16px;
}
.footer__button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #2196F3;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.06em;
  text-align: center;
  color: #FFFFFF;
  margin-left: 12px;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 70px;
  left: 62px;
}
@media screen and (min-width: 1200px) {
  .footer__button {
    position: static;
  }
}
.footer__button-icon {
  fill: #FFFFFF;
  margin-left: 10px;
}

.blocks {
  padding-top: 60px;
  padding-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .blocks {
    padding-bottom: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .blocks {
    padding-top: 94px;
    padding-bottom: 34px;
  }
}
.blocks__title {
  display: none;
}
.blocks__list {
  display: flex;
  width: 100%;
  justify-content: start;
  row-gap: 15px;
  -moz-column-gap: 8px;
       column-gap: 8px;
  max-width: 326px;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .blocks__list {
    justify-content: center;
    flex-wrap: nowrap;
    max-width: 100%;
  }
}
.blocks__link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  border-radius: 4px;
  width: 125px;
  height: 38px;
  background: #f5f4fa;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.blocks__link:hover {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  color: #FFFFFF;
  border-radius: 4px;
  width: 73px;
  height: 38px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
  background: #2196F3;
  padding: 6px 25px;
}

.box__position {
  padding-bottom: 94px;
}
.boxes {
  display: none;
}
@media screen and (min-width: 786px) {
  .box__list {
    display: flex;
    flex-wrap: wrap;
    -moz-column-gap: 30px;
         column-gap: 30px;
    row-gap: 30px;
  }
}
.box__item {
  width: 100%;
  background-image: url("../images/portfoliocardbg.jpg");
  border: 1px solid #eee;
  overflow: hidden;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 786px) {
  .box__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}
.box__item:hover {
  box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
}
.box__image-wrapper {
  position: relative;
  overflow: hidden;
}
.box__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.box__overlay-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  padding: 63px 24px;
}
.box__item:hover .box__overlay, .box__item:focus ~ .box__overlay {
  transform: translateY(0);
}
.box__title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  padding-top: 20px;
  padding-bottom: 4px;
  padding-left: 24px;
  padding-right: 24px;
}
.box__text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}/*# sourceMappingURL=main.css.map */