.header {
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #ececec;
  
  @media screen and (min-width: 768px) {
    max-width: 768px;
    padding-top: 21px;
    padding-bottom: 21px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1200px;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  &__position {
    display: flex;
    justify-content: space-between;
    align-items: center;

   @media screen and (min-width: 768px) {
    max-width: 738px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1170px;
  }

  }
}

 .logo {
  font-family: $second-family;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.03em;
  color: $hover-color;
  width: 134px;
  
  @media screen and (min-width: 768px) {
    font-size: 24px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    width: 145px;
  }

  &--black {
    color: #000;
  }
 }
   .btn-modal-label, .btn-modal {
        display: none;
    }

.nav {
  
  @media screen and (max-width: 767px) {
      // flex-grow: 3;
        // order: 1;
        .btn-modal:checked ~ .btn-modal-label .btn-modal-line {
            transform: rotate(-45deg);
        }
        .btn-modal:checked ~ .btn-modal-label .btn-modal-line::before {
            top: 0;
        }
        .btn-modal:checked ~ .btn-modal-label .btn-modal-line::after {
            transform: rotate(90deg);
            top: 0;
        }
        .btn-modal-label {
            display: block;
            width: 24px;
            height: 16px;
            // outline: 1px solid red;
            margin-left: auto;
            position: relative;

        .btn-modal-line,
        .btn-modal-line::before,
        .btn-modal-line::after {
            content: "";
            display: block;
            width: 24px;
            height: 2px;
            background-color: black;
            position: absolute;
            right: 0;

        }
        .btn-modal-line {
            top: 4px;
        }
        .btn-modal-line::before {
            top: -6px;
        }
        .btn-modal-line::after {
            top: 6px;
        }
      }}
    //     @media screen and (width: 768px) {
    //        .btn-modal-label, .btn-modal {
    //     display: none;
    // }
        }
@media screen and (min-width: 768px) {
  .nav {
  margin-left: 87px;
  margin-right: 96px;
  }
}
@media screen and (min-width: 1200px) {
  .nav {
  margin-left: 92px;
  margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .btn-modal-label, .btn-modal {
        display: none;
    }
}
.nav__menu {
  display: none;
  
  @media screen and (min-width: 768px) {
    display: flex;
    column-gap: 50px;
  }

}

@media screen and (min-width: 768px) {
  .nav__link {
  color: $main-title-color;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  
  &:hover,
  &--active {
    color: $hover-color;
  }

  &::after {
    content: "";
    position: absolute;
    margin-top: 28px;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:hover::after,
  &--active::after {
    background-color: $hover-color;
  }
}
}

.contacts {
  display: none;
  
  @media screen and (min-width: 768px) {
    display: block;
    margin-left: auto;

     &__link {
    display: flex;
    align-items: center;
    color: $main-text-color;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);  

    &:hover {
      color: $hover-color;

      & .contacts__icon {
        fill: $hover-color;
      }
    }
  }
  
  &__icon {
    fill: $main-text-color;
    margin-right: 10px;
  }

  }
  @media screen and (min-width: 1200px) {
    display: flex;
    column-gap: 30px;
   }

  &__button {
    background-color: white;
    border: none;

   @media screen and (min-width: 768px) {
    display: none;
   }
    
  }
}
// modal nav !!!!!!!!!!!!!
.container {
  min-width: 320px;
  max-width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.page-header .container {
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.menu {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

@media (max-width: 767px) {
  .menu {
    display: none;
  }
}

.menu .link {
  padding: 10px;
  color: inherit;
  text-decoration: none;
}

.menu .link:hover,
.menu .link:focus {
  text-decoration: underline;
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: #3f51b5;
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-menu .link {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}