.blocks-list {
  display: flex;
  width: 100%;
  justify-content: center;
  column-gap: 8px;
}
.blocks {
  padding-top: 62px;
  padding-bottom: 34px;
}
.blocks-title {
  display: none;
}
.blocks-list {
  list-style: none;
}
.blocks-link {
  font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
line-height: 1.62;
letter-spacing: 0.03em;
text-align: center;
color: var(--main-title-color);
border-radius: 4px;
width: 125px;
height: 38px;
background: #f5f4fa;
padding: 6px 22px;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
          box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
          background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.blocks-link:hover {
  font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
line-height: 1.62;
letter-spacing: 0.03em;
text-align: center;
color: #fff;
border-radius: 4px;
width: 73px;
height: 38px;
box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
background: var(--hover-color);
padding: 6px 25px;
}