.blocks {
  padding-top: 60px;
  padding-bottom: 40px;
  @media screen and (min-width: 768px) {
  padding-bottom: 14px;
  }
  @media screen and (min-width: 1200px) {
  padding-top: 94px;
  padding-bottom: 34px;
  }


  &__title {
    display: none;
  }

  &__list {
    display: flex;
    width: 100%;
    justify-content: start;
    row-gap: 15px;
    column-gap: 8px;
    max-width: 326px;
    flex-wrap: wrap;

      @media screen and (min-width: 768px) {
            justify-content: center;
            flex-wrap: nowrap;
            max-width: 100%;
  }
    // &__item {
    //    flex-basis: calc((100% - (8px * 2)) / 3);
    // }
  }

  &__link {
    font-family: $font-family;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    text-align: center;
    color: $main-title-color;
    border-radius: 4px;
    width: 125px;
    height: 38px;
    background: #f5f4fa;
    padding: 6px 22px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
          box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
          background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    font-family: $font-family;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    text-align: center;
    color: $secondary-text-color;
    border-radius: 4px;
    width: 73px;
    height: 38px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
    background: $hover-color;
    padding: 6px 25px;
   }
 }
}

.box {

  &__position {
    padding-bottom: 94px;
  }

  &es {
    display: none;
  }

  &__list {
    @media screen and (min-width: 786px) {    
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;
    }
  }

  &__item {
    width: 100%;
    background-image: url("../images/portfoliocardbg.jpg");
    border: 1px solid #eee;
    overflow: hidden;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    @media screen and (min-width: 786px) {   
      flex-basis: calc((100% - 2 * 30px) / 3); 
    }
    &:hover {
      box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    }
  }

  &__image-wrapper {
    position: relative;
    overflow: hidden;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &-text {
      font-family: $font-family;
      font-weight: 400;
      font-size: 18px;
      line-height: 156%;
      letter-spacing: 0.03em;
      color: $secondary-text-color;
      padding: 63px 24px;
    }
  }
  
  &__item:hover &__overlay,
  &__item:focus ~ &__overlay {
    transform: translateY(0);
  }

  &__title {
    font-family: $font-family;
    font-weight: 700;
    font-size: 18px;
    line-height: 2.00;
    letter-spacing: 0.06em;
    color: $main-title-color;
    padding-top: 20px;
    padding-bottom: 4px;
    padding-left: 24px;
    padding-right: 24px;
  }

  &__text {
    font-family: $font-family;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: $main-text-color;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
  }
}