.speciality {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 94px;

  &__title {
    display: none;
  }

  &__list {
    list-style: none;
    display: flex;
    column-gap: 30px;
  }

  &__list .team {
    letter-spacing: 0.03em;
  }

  &__item::before {
    content: "";
    display: block;
    background-repeat: no-repeat;
    width: 270px;
    height: 120px;
    background-image: url("../images/rectangle.png");
    background-color:#f5f4fa;
    border-radius: 4px;
    background-position: center;
    margin-bottom: 30px;
  }
  &__item:nth-child(1)::before {
    background-image: url("../images/antenna.png");
}
  &__item:nth-child(2)::before {
    background-image: url("../images/clock.png");
}
  &__item:nth-child(3)::before {
    background-image: url("../images/diagram.png");
}
  &__item:nth-child(4)::before {
    background-image: url("../images/astronaut.png");
}
  &__item-title {
    font-family: $font-family;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: $main-title-color;
    margin-bottom: 10px;
  }
  &__text {
    font-family: $font-family;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: $main-text-color;
  }
}